.header {
  background-color: #85BB65;
  color: #ffffff;
}
.headerWrapper {
  padding: 14px 20px;
  margin: auto;
  max-width: 1000px;
}

.h2 {
  font-size: 2em;
}

@media (min-width: 600px) {
  .headerWrapper {
    padding: 14px 56px;
  }
}

@media (min-width: 1000px) {
  .headerWrapper {
    padding: 14px 20px;
  }
}