.header {
  background-color: #85BB65;
  color: #ffffff;
}
.headerWrapper {
  padding: 14px 20px;
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.h2 {
  font-size: 2em;
}

.navbarContainer {
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  display: flex;
}

.navbarContainerActive {
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.navbar {
  max-width: 300px;
  flex: 2;
  background-color: white;
}

.navbarMask {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.342);
}

@media (min-width: 600px) {
  .headerWrapper {
    padding: 14px 56px;
  }
}

@media (min-width: 1000px) {
  .headerWrapper {
    padding: 14px 20px;
  }
}