.container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
}

.main {
  overflow: auto;
  flex: 2;
  padding: 20px;
}

.aside {
  background-color: #d9f8c8b2;
  display: none;
  flex: 1;
}

.header {
  color: rgb(34, 34, 34);
  font-size: 24px
}

.inputs {
  margin-top: 14px;
  padding: 14px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.inputLabel {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-weight: 500;
}
.inputSide {
  padding: 6px 12px;
  background-color: #85BB65;
  color: white;
  border: 1px solid rgb(190, 190, 190);
  border-right: none;
}
.input {
  flex: 1;
  padding: 6px;
  font-size: 15px;
  border: 1px solid rgb(190, 190, 190);
}
.input:focus {
  outline: none;
}

.button {
  padding: 14px;
  margin: 14px 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #85BB65;
  color: white;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
}

.infoP {
  color: rgb(104, 102, 102);
  font-size: 18px;
}

.total {
  color: #85BB65;
  font-weight: bold;
  font-size: 19px;
}

.dollarCotizacion {
  padding-top: 12px;
  border-top: 1px solid rgb(221, 221, 221);
  font-size: 14px;
  font-weight: 700;
}

.updateTime {
  font-size: 14px;
  color: gray;
}

.dolarTarjetaInfo {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dolarTarjetaInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.dolarTarjetaInfoContainer > h2 {
  color: rgb(34, 34, 34);
}
.dolarTarjetaInfoContainer > p {
  color: rgb(31, 30, 30);
  line-height: 1.4em;
}


@media (min-width: 500px) {
  .header {
    font-size: 30px;
  }
}

@media (min-width:600px) {
  .main {
    padding: 20px 56px;
  }
  .dolarTarjetaInfoContainer > p {
    font-size: 17px;
    color: rgb(31, 30, 30);
  }
}

@media (min-width:700px) {
  .header {
    font-size: 36px;
  }
}

@media (min-width:1000px) {
  .main {
    padding: 20px;
  }
  .aside {
    display: block;
  }
}