.container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  border-right: 1px solid gray;
}

.main {
  flex: 2;
  padding: 20px;
}

.aside {
  display: none;
  flex: 1;
}

.header {
  color: rgb(34, 34, 34);
  font-size: 24px;
}

.inputs {
  margin-top: 14px;
  padding: 14px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.inputLabel {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-weight: 500;
}
.inputSide {
  padding: 6px 12px;
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(190, 190, 190);
  border-right: none;
}
.input {
  flex: 1;
  padding: 6px;
  font-size: 15px;
  border: 1px solid rgb(190, 190, 190);
}
.input:focus {
  outline: none;
}

.button {
  padding: 14px;
  margin: 14px 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #85BB65;
  color: white;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
}

.infoP {
  color: rgb(31, 30, 30);
  font-size: 18px;
}

.total {
  color: #85BB65;
  font-weight: bold;
  font-size: 19px;
}

.dollarCotizacion {
  padding-top: 12px;
  border-top: 1px solid rgb(221, 221, 221);
  font-size: 14px;
  font-weight: 700;
}

.updateTime {
  font-size: 14px;
  color: gray;
}

.dolarTarjetaInfo {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dolarTarjetaInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width:700px) {
  .aside {
    display: block;
  }
}