.navbarItem {
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  color: white;
  list-style: none;
  transition: all 0.1s ease;
}

.navbarItemMain {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 400;
}

.navbarItemContent {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}

.navbarItemContentActive {
  transition: all 0.3s ease;
  position: initial;
  padding-left: 0.8em;
  padding-bottom: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navbarItemContent > p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

.navbarItemContentActive > p {
  text-transform: uppercase;
  font-size: 18px;
}