.navbarItem {
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  color: white;
  list-style: none;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease;
  border-bottom: 1px solid rgb(151, 163, 151);
}

.navbarItemMain {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.navbarItemContent {
  position: absolute;
  opacity: 0;
}

.navbarItemContentActive {
  transition: all 0.3s ease;
  position: initial;
  padding-bottom: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.navbarItemContentActive > p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(236, 233, 233);
}