.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.main {
  padding: 20px;
  max-width: 1000px;
  flex: 2;
}
.aside {
  display: none;
  flex: 1;
  background-color: #d9f8c8b2;
}
.header {
  margin-bottom: 14px;
  color: rgb(34, 34, 34);
  font-size: 24px
}

.inputs {
  padding: 14px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.inputContainer > label {
  font-size: 18px;
  font-weight: 500;
}

.inputContainer > input {
  padding: 8px;
  border: 1px solid rgb(190, 190, 190);
  font-size: 18px;
}

.inputContainer > input:focus {
  outline: none;
}

.amountContainer {
  display: flex;
  align-items: center;
}

.inputLeft {
  padding: 9.5px 14px;
  background-color: #85BB65;
  color: white;
}

.amountContainer > input {
  flex: 1;
  padding: 8px;
  border: 1px solid rgb(190, 190, 190);
  font-size: 18px;
}

.dropdown {
  padding: 10px ;
  min-width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-top: none;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.dropdown > p {
  font-size: 18px;
  color: rgb(39, 39, 39);
}


.button {
  padding: 14px;
  margin: 14px 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #85BB65;
  color: white;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resultContainer > label {
  color: rgb(104, 102, 102);
  font-size: 18px;
}

.resultContainer > p {
  color: rgb(104, 102, 102);
  font-size: 18px;
}

.resultContainerImportant > label {
  color: #85BB65;
  font-weight: bolder;
  font-size: 18px;
}

.resultContainerImportant > p {
  color: #85BB65;
  font-weight: bolder;
  font-size: 18px;
}

.info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width: 500px) {
  .header {
    font-size: 30px;
  }
}

@media (min-width:600px) {
  .main {
    padding: 20px 56px;
  }
}

@media (min-width:700px) {
  .header {
    font-size: 36px;
  }
}

@media (min-width:1000px) {
  .main {
    padding: 20px;
  }
  .aside {
    display: block;
  }
}


