.navbarItemMain {
  color: #85BB65;
  font-size: 28px;
}

.navbarItemContent {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: black;
}
.navbarItemContent > p {
  padding-left: 10px;
}